# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# Videos
**.mvi
**.MP4
**.mp4
**.avi

# data & outputs
data/*/**
data/*.txt
data/*.zip
data/*.csv
data/*.tar.gz
data/db_viewer.py

tf/model/**

detection/test_imgSeq/
detection/YOLO_weights
detection/out**

# C++ Build
classification_reviewer/cmake-build-debug
classification_reviewer/CMakeCache.txt
classification_reviewer/CMakeFiles/
classification_reviewer/Makefile
classification_reviewer/cmake_install.cmake
classification_reviewer/classification_reviewer.cbp
classification_reviewer/bin/


# Others
.venv/**
.venv3/**
.idea/**
**/.idea
.directory

